/* <--------------- Home ----------------> */
.homepage {
    font-family: "Syne Mono", monospace;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

.invitation {
    margin-top: 1.5rem;
    font-size: 2rem;
}

.congratulations {
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    text-align: center;
    font-family: "Fira Mono", monospace;
}

.footer {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    text-align: center;
    font-family: "Fira Mono", monospace;
}

.price {
    font-size: 1.8rem;
    margin-top: 1.4rem;
}

.warning {
    font-size: 2.2rem;
    margin-bottom: 1.8rem;
}

.minted {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    margin-top: 1rem;
}

.amount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 1.2rem;
    color: #00FF41;
}

.num {
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 2px solid #00FF41;;
    border-radius: 5px;
    background: none;
    font-size: 1.2rem;
    width: 100px;
    text-align: center;
    color: #00FF41;
}

.mint {
    font-size: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    text-decoration: none;
    background: none;
    border: none;
    margin-top: 1.2rem;
    cursor: pointer;
    color: #00FF41;
}

.mint:hover {
    font-weight: 700;
}

.minmax {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #00FF41;
}

.Typewriter__wrapper {
    margin-left: 7px;
}

.Typewriter__cursor {
    font-size: 2rem;
    position: relative;
    top: -5px;
}

.noCursor {
    display: none;
}

.emojiContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
}

#emoji { 
    width: 10rem; 
    height: 9rem; 
    font-size: 7rem;
    text-align: center;
    animation-name: float;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes float {
    
    0% {
        transform: translateY(0px);
    } 100% {
        transform: translateY(20px);
    }
}
